
h1 a, h2 a {
    color: #2c872b;
    font-family: 'Roboto Condensed', sans-serif;
}


#set_thumbnail{
  height: 400px;
  box-shadow: 5px 5px 5px grey;
}

#post_thumbnail{
  margin-left: 20px;
  width: 97%;
  box-shadow: 5px 5px 5px grey;
}

#add_comment{
  margin-left: 20px;
}

.logout{
  margin-right: 20px;
  float:right;
}

.page-header{
  background-color: #18b210;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 35pt;
    text-decoration: none;

}

.top-menu, .top-menu:hover {
    color: #ffffff;
    font-size: 15pt;
}

.post{
  margin: 20px;
}

.comment{
  margin-top: 20px;
  margin-left: 20px;
}

.comment_style{
  margin-top: 30px;
}

.post-form textarea, .post-form input {
    width: 50%;
}

.post_edit{
  margin: 20px
}
.reg{
  margin-left: 30%;
  margin-top: 5%;
}
.login{
  margin-left: 40%;
  margin-top: 5%;
}
