
h1 a, h2 a {
    color: #2c872b;
    font-family: 'Roboto Condensed', sans-serif;
}


#set_thumbnail{
  height: 400px;
  box-shadow: 5px 5px 5px grey;

}
#set_thumbnail:hover {
box-shadow:
          1px 1px #18b210,
          2px 2px #18b210,
          3px 3px #18b210;
transform: translateX(-3px);
}
#ag_thumbnail{
  height: 100px;
  box-shadow: 5px 5px 5px grey;
  justify-content: space-around;
}
#ag_thumbnail:hover {
box-shadow:
          1px 1px #18b210,
          2px 2px #18b210,
          3px 3px #18b210;
transform: translateX(-3px);
}
#post_thumbnail{
  margin-left: 20px;
  width: 97%;
  box-shadow: 5px 5px 5px grey;
}

#add_comment{
  margin-left: 20px;
}

#logout{
  margin-right: 20px;
  float:right;
}
#logout a:hover{
  decoration: none;
}

.page-header{
  background-color: #18b210;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 35pt;
    text-decoration: none;
}

.page-header h1:hover{
  box-shadow:
            1px 1px #18b210,
            2px 2px #18b210,
            3px 3px #18b210;
  transform: translateX(-3px);
}

.top-menu, .top-menu:hover {
    color: #ffffff;
    font-size: 15pt;
    text-decoration: none;
}

.top-menu:hover {
    color: #ffffff;
    font-size: 15pt;
    text-decoration: none;
    text-decoration-color: black;
}


.post{
  margin: 20px;
}

.comment{
  margin-top: 20px;
  margin-left: 20px;
}

.comment_style{
  margin-top: 30px;
}
.comment_style p{
  margin-left: 20px;
}

.post-form textarea, .post-form input {
    width: 50%;
}

.post_edit{
  margin: 20px
}
.reg{
  margin-left: 30%;
  margin-top: 5%;
}
.login{
  margin-left: 40%;
  margin-top: 5%;
}

.img{
    height: 200px;
    width: auto;
}

.agency{
  margin-left: 20px;
}

.col-lg-2 a, .col-lg-2 h1{
  color: #18b210;
  text-decoration: none;
}
