{% extends 'estate/base.html' %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>POSTS</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Posts List</a></h1>
        </div>

        {% block content %}
            {% for post in posts %}

                  <div class="row-md">
                    <div class="thumbnail" style="width:300px; height:400px">
                    <img src='{{ post.image.url }}' class='img' height="50px" width="300px" />
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                    </div>

            {% endfor %}
        {% endblock %}
    </body>
</html>
