{% extends 'estate/base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    {% for post in posts %}
    <div class="col-lg-2">
      <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="thumbnail" id="set_thumbnail">
          <img src='{{ post.image.url }}' class="img"/>
          <h1>{{ post.title }}</h1>
          <a href="{% url 'post_detail' pk=post.pk %}">Комментарии: {{ post.comments.count }}</a>
        </div>
      </a>
     </div>
{% endfor %}
    </div>
</div>
{% endblock %}
